<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RoBotArm_test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <RoBotArm_test.Properties.Settings>
            <setting name="TT1_textBoxCorrect" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="TT1_textBoxError" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="TTS1_textBoxCorrect" serializeAs="String">
                <value>0.3</value>
            </setting>
            <setting name="TTS1_textBoxError" serializeAs="String">
                <value>0.4</value>
            </setting>
            <setting name="ST1_textBoxCorrect" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="ST1_textBoxError" serializeAs="String">
                <value>0.6</value>
            </setting>
            <setting name="TT2_textBoxCorrect" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TT2_textBoxError" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TTS2_textBoxCorrect" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TTS2_textBoxError" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ST2_textBoxCorrect" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ST2_textBoxError" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TT_Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TT_Error" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TTS_Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TTS_Error" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ST_Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ST_Error" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Center_Plane_Error" serializeAs="String">
                <value>0</value>
            </setting>
        </RoBotArm_test.Properties.Settings>
    </userSettings>
</configuration>